* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-fira-sans-regular {                                           /**/
    font-family: "Fira Sans", sans-serif;
    font-optical-sizing: auto;
}

/* My common class */

.container { 
    max-width: 1440px; 
    margin: 0 auto; 
}

header {
    background-color: #F5F5F5; 
    padding: 24px 160px;
}

nav {
    display: flex;  
    justify-content: space-between; 
    padding: 20px 0;
    align-items: center;   
}

.menu {  
    display: flex;
    gap: 30px;
    list-style: none; 
}

.menu h2 {   
    font-size: 32px;
    font-weight: bold;
    color: #0E0E0E;
}

.menu a { 
    text-decoration: none;
    font-size: 18px; 
    font-weight: 600px; 
}

.btn {   
    font-size: 18px;
    font-weight: 600px;
    border: 1px solid #006A50;
    color: #006A50;
    padding: 15px 30px;
    border-radius: 8px;
}